/* .menu,.reviews {
  border: bold;
} */
.App {
  display: grid;
  grid-gap: 50px 50px;
  background-color:darkgray;
  border:bold;
  grid-template-columns: 250px 200px auto;
  border-radius: 10px;
}
.menu {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
  background-color: lightgray;
  padding-top: 75%;
  border-radius: 10px;

} 

.reviews {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: lightgray;
  border-radius: 10px;

}

.rating {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: lightgray;
  border-radius: 10px;
}

.sentiment {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: lightgray;
  text-align: center;
  border-radius: 10px;
}

.visitors {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 4;
  background-color: lightgray;
  border-radius: 10px;
  height: 500px;
}